<p>
<center>
<table border=0 cellpadding=10 cellspacing=10>

<tr>
</tr>
</table>
</center>
</p>
<p>
This plugin offers no configuration. Everything is configured inside homebridge. Please click on below link to access homebridge.
</p>
<p>
If you have any Troubles delete your Browser Cache and open IP+Port directly.
</p>
<p>
<br>
</p>
<p>
<a id="button" data-role="button" data-inline="false" data-mini="false" href="http://<!--$urlhomebridge-->/" target="_blank">Homebridge start</a>
</p>
<p>
<br>
</p>
