<p>
Dieses Plugin installiert <b>Homebridge</b> samt der Config-UI-X-Oberflaeche auf dem LoxBerry und
betreibt sie als Dienst. Homebridge laeuft in einer eigenen, isolierten Node.js-Umgebung; das
System-Node wird nicht veraendert. Die gesamte Konfiguration (Zubehoer, HomeKit-Kopplung) erfolgt
in der Homebridge-Oberflaeche selbst - das Plugin bietet dafuer keine eigenen Einstellungen.
</p>
<p>Weitere Infos und Hilfe:</p>
<ul>
  <li><a href="https://github.com/blacksun80/LoxBerry-Plugin-Homebridge" target="_blank" rel="noopener">GitHub-Repository</a></li>
  <li><a href="https://www.loxforum.com/forum/projektforen/loxberry/plugins/337099-homebridge-plugin-zur-einfacher-installation-von-homebridge-auf-dem-loxberry" target="_blank" rel="noopener">Diskussionsthread im LoxForum</a></li>
  <li><a href="https://wiki.loxberry.de/plugins/homebridge/start" target="_blank" rel="noopener">LoxBerry-Wiki</a></li>
</ul>
